<!--
  Generated template for the QuestionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar white>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{topicName}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="questionListBody">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar class="searchbar" (ionInput)="getItems($event)" *ngIf="isSearchbarOpened" showCancelButton="true"
    (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

    <ion-list style="padding-right: 0px; ">

      <ion-item text-center *ngIf="refresh">
        <h4>Please refresh!</h4>
      </ion-item>

      <ion-item text-center *ngIf="wait">
        <h4>Please wait...</h4>
      </ion-item>

      <div *ngIf="!isSearchbarOpened">
        <ion-item class="question" *ngFor="let item of items; let i = index" (click)="openQuestionPage(i)">
          <ion-label class="label label-md" style="margin: 0px; white-space: inherit; ">
            <div style="display: flex;">
              <div class="userbox">
                <p class="user">{{item.author}}</p>
              </div>
              <div class="questionbox">
                <p>{{item.question}}?</p>
                <h5 class="categories">categories: {{item.catOne}} {{item.catTwo}} {{item.catThree}}</h5>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="isSearchbarOpened">
        <ion-item class="question" *ngFor="let sItem of searchItems; let s = index" (click)="openSearchedQuestionPage(s)">
          <ion-label class="label label-md" style="margin: 0px; white-space: inherit; ">
            <div style="display: flex;">
              <div class="userbox">
                <p class="user">{{sItem.author}}</p>
              </div>
              <div class="questionbox">
                <p>{{sItem.question}}?</p>
                <h5 class="categories">categories: {{sItem.catOne}} {{sItem.catTwo}} {{sItem.catThree}}</h5>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  

</ion-content>