<!--
  Generated template for the RtcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>rtc</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <div style=" position: absolute; top: 1%; left: 50%; transform: translate(-50%, 0%); opacity: 0.9;">
          <div style="display: flex;">
            <div style="margin-right: 20px;">
              <button ion-button round (click)="generateOffer()">
                I am offer
              </button>
            </div>
            <div style="margin-right: 20px;">
              <button ion-button round (click)="goAnswer()">
                I am answer
              </button>
            </div>
          </div>
        </div>
      
        <div *ngIf="sendOk" style="padding-top: 40px; width: 100%;">
            <ion-item>
                <ion-label floating>Message:</ion-label>
                <ion-input type="text" maxlength="30" [(ngModel)]=yourMessage></ion-input>
              </ion-item>
        </div>

        <div *ngIf="sendOk" style="padding-top: 45px; position: absolute; left: 50%; transform: translate(-50%, 0%);">
          <button ion-button round (click)="sendMessage()">
              Send Message
            </button>
        </div>
      
      <div *ngIf="receivedM" style="margin-top: 130px; position: absolute; left: 50%; transform: translate(-50%, 0%); ">
          <p>{{receivedMessage}}</p>
      </div>

    <ion-list *ngIf="off" style="padding-right: 0px; margin-top: 100px;">
      <div>
        <ion-item class="question" *ngFor="let item of items; let i = index" (click)="generateAnswer(i)">
          <ion-label class="label label-md" style="margin: 0px; white-space: inherit; ">
            <div style="display: flex;">
              <p>{{item.id}}</p>        
            </div>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngIf="ans" style="padding-right: 0px; margin-top: 100px; ">
        <div>
          <ion-item class="question" *ngFor="let item of items; let i = index" (click)="connectStart(i)">
            <ion-label class="label label-md" style="margin: 0px; white-space: inherit; ">
              <div style="display: flex;">
                <p >{{item.id}}</p>        
              </div>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>

    <script src="bundle.js" charset="utf-8"></script>
</ion-content>
