page-top {

    .titleText{
        position: absolute;
        top: 28%;
        left: 50px;
        text-align: left;  
    }

    .toolbar-title-md {
        color: #ffffff;
    }

    .toolbar-title-ios {
        color: #ffffff;
    }

    .fab-md-white {
        color: rgba(51,0,131,1);
    }

    .fab-ios-white {
        color: rgba(51,0,131,1);
    }

    .bar {
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
    }

    .body{
        background-image: radial-gradient( circle farthest-corner at 52.1% -29.6%,  rgba(144,17,105,1) 0%, rgba(51,0,131,1) 100.2% );
    }

    .profile{
        text-align: center;
        margin: 3px;
    }

    .titleText{
        position: absolute;
        top: 28%;
        left: 50px;
        text-align: left;  
    }

    .nickName{
        position: absolute;
        text-align: right;
    }

    .empty{
        position: absolute;
        top: 40%;
        transform: translate(-50%, -40%);
        text-align: center;
        font-size: 20px;
        color: #808080;
    }

    .begin{
        animation: begin 2s 1; 
    }

    .topStyle-1{
        margin: 0px;
        color: #ffffff;
        padding-right: 1px;
        padding-left: 1px;
        font-size: 8vw;
        padding-top: 1px;
        padding-bottom: 1px;
        max-height: 8vw;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }

    .topStyle-2{
        margin: 0px;
        color: #ffffff;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        max-height: 7vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 7vw;
        text-transform: uppercase;
    }

    .topStyle-3{
        margin: 0px;
        padding-right: 1px;
        padding-left: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        max-height: 7vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 7vw;
        color: #ffffff;
        text-transform: lowercase;
        font-weight: bold;
    }

    .topOverStyle{
        margin: 0px;
        color: #ffffff;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        max-height: 12vw;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12vw;
    }     
    
    }
    

